
body{
  margin: 0;
  padding: 0;
  background: #4560C4;
background: linear-gradient(135deg, #4560C4, #49F658);
position: relative;
}
.container{
  margin: 20px;
  padding: 10px;
  
}
.header{
  margin: 10px;
  font-size: xx-large;
  font-weight: bolder;
  
  
}
.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.image img{
  height: 90%;
  width: 90%;
  border-radius: 15px;
  box-shadow: 0  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content-text{
  margin: 15px;
  padding-left: 20px;
  font-size:20px
}


@media only screen and (max-width:1240px){
  .content{
    display: grid;
    grid-template-columns: 1fr;
  }
}

.custom-shape-divider-top-1702226005 {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1702226005 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 132px;
}

.custom-shape-divider-top-1702226005 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1702226214 {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-bottom-1702226214 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 132px;
}

.custom-shape-divider-bottom-1702226214 .shape-fill {
  fill: #FFFFFF;
}